<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <title>Layout</title>
</head>
<style>
  #item8{
    background-image: url(assets/images/hoang.jpg);
  }
  #item9{
    background-image: url(assets/images/son.jpg);
  }
  #item14{
    background-image: url(assets/images/duong.jpg);
  }
  #item11{
    background-image: url(assets/images/vujpg.jpg);
  }
  #item12{
    background-image: url(assets/images/cuong.jpg);
  }
  #item13{
    background-image: url(assets/images/anh.jpg);
  }
  #item7{
    background-image:url("assets/img/navbar.png") ;
  }
  #item1{
    background-image: url(assets/img/hhh.jpg);

  }
  #item2{
    background-image: url(assets/img/kkk.jpg);
  }
  #item3{
    background-image: url(assets/img/ttt.jpg);
  }
  #item4{
    background-image: url(assets/img/keyborad_akko.jpg);
  }
  #item5{
    background-image: url(assets/img/taycamps5.jpg);
  }
  #item6{
    background-image: url(assets/img/mouse.jpg);
  }
</style>
<body>

<!--  <div class="header axil-header header-style-1" >-->

<!--    <div class="axil-header-top">-->
<!--      <div class="container " >-->
<!--        <div class="row align-items-center">-->
<!--          <div class="col-sm-6">-->
<!--            <div class="header-top-dropdown">-->
<!--              <div class="dropdown">-->
<!--                <button type="button" >English</button>-->
<!--                <ul class="dropdown-menu" style="">-->
<!--                  <li><a class="dropdown-item" href="#">English</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">Arabic</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">Spanish</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--              <div class="dropdown">-->
<!--                <button  type="button"  >-->
<!--                  USD-->
<!--                </button>-->
<!--                <ul class="dropdown-menu" style="">-->
<!--                  <li><a class="dropdown-item" href="#">USD</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">AUD</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">EUR</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="header-top-link">-->
<!--              <ul class="quick-link">-->
<!--                <li><a href="#">Help</a></li>-->
<!--                <li><a href="#">Join Us</a></li>-->
<!--                <li><a href="#">Sign In</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="axil-mainmenu" >-->
<!--    <div class="container" >-->

<!--      <header class="header-navbar " >-->
<!--        <div class="header-brand">-->
<!--          <a routerLink="/home1" class="logo logo-dark">-->
<!--            <img src="assets/img/logo1.jpg" alt="logo">-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="header-main-nav" style="width:90% ">-->
<!--          &lt;!&ndash; Start Mainmanu Nav &ndash;&gt;-->
<!--          <nav class="mainmenu-nav">-->

<!--            <ul class="mainmenu">-->
<!--              <li class="menu-item-has-children menu-item-open">-->
<!--                <a href="#">Home</a>-->

<!--              </li>-->
<!--              <li class="menu-item-has-children">-->
<!--                <a href="#">Shop<i class='bx bx-chevron-down' ></i></a>-->
<!--                <ul>-->
<!--                  <li>Home 1</li>-->
<!--                  <li>Home 2</li>-->
<!--                  <li>Home 3</li>-->
<!--                  <li>Home 4</li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class="menu-item-has-children">-->
<!--                <a  href="#">Pages<i class='bx bx-chevron-down' ></i></a>-->
<!--                <ul>-->
<!--                  <li>Home 1</li>-->
<!--                  <li>Home 2</li>-->
<!--                  <li>Home 3</li>-->
<!--                  <li>Home 4</li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">About</a></li>-->
<!--              <li class="menu-item-has-children">-->
<!--                <a href="#">Blog</a>-->

<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">Contact</a>-->

<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--          &lt;!&ndash; End Mainmanu Nav &ndash;&gt;-->
<!--        </div>-->

<!--        <div class="header-action">-->
<!--          <ul class="action-list">-->
<!--            <li class="search">-->

<!--              <label for="open">-->
<!--                <i class='bx bx-search'></i>-->
<!--              </label>-->
<!--            </li>-->
<!--            <li class="wishlist">-->
<!--              <a href="#">-->
<!--                <i class='bx bx-like'></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="shopping-cart">-->
<!--              <a href="#" >-->
<!--                <i class='bx bx-shopping-bag' ></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="my-account">-->
<!--              <a href="#">-->
<!--                <i class='bx bx-user'></i>-->
<!--              </a>-->

<!--            </li>-->

<!--          </ul>-->
<!--        </div>-->
<!--        <div class="nav-search">-->
<!--          <input type="checkbox" name="open" id="open">-->
<!--          <form action="" class="search-form" role="search">-->
<!--            <input autocomplete="off" class="search-input" name="q" placeholder="Search" type="search" value="">-->
<!--            <input class="search-action" type="submit" value="Ok">-->
<!--          </form>-->
<!--        </div>-->
<!--      </header>-->

<!--    </div>-->



<!--    </div>-->

<!--  </div>-->

<div class="section navigation">
  <div class="nav1">
    <div id="item7" >
    </div>
  </div>

</div>
<div class="about">
  <div class="container">
    <div class="flex">
    <div class="inner">
    <ul class="axil-breadcrumb">
      <li class="axil-breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="separator"></li>
      <li class="axil-breadcrumb-item active" >About Us</li>
    </ul>
    <h1 class="title">About Our Store</h1>

   </div>
      <div class="anh1">
         <img src="assets/images/lll.png" alt="anhloi">
      </div>
  </div>
  </div>
</div>
<section class="section main">
  <div class="noidung3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-4 col-lg-6">
          <div class="about-thumbnail">
            <div class="thumbnail">
              <img src="./assets/img/about-01.png" alt="About Us">
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-6">
          <div class="about-content content-right">
            <span class="title-highlighter highlighter-primary2"> <i class='bx bxs-shopping-bag'></i>About Store</span>
            <h3 class="title">Online shopping includes both buying things online.</h3>
            <span class="text-heading">Salesforce B2C Commerce can help you create unified, intelligent digital commerce
                                experiences — both online and in the store.</span>
            <div class="row">
              <div class="col-xl-6">
                <p>Empower your sales teams with industry tailored
                  solutions that support manufacturers as they go
                  digital, and adapt to changing markets &amp; customers
                  faster by creating new business.</p>
              </div>
              <div class="col-xl-6">
                <p class="mb--0">Salesforce B2B Commerce offers buyers the
                  seamless, self-service experience of online
                  shopping with all the B2B</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-info-area">
    <div class="container">
      <div class="row row--20">
        <div class="col-lg-4">
          <div class="about-info-box">
            <div class="thumb">
              <img src="assets/img/aaa1.png" alt="Shape">
            </div>
            <div class="content">
              <h6 class="title">40,000+ Happy Customer</h6>
              <p>Empower your sales teams with industry
                tailored solutions that support.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-info-box">
            <div class="thumb">
              <img src="assets/img/aaa2.png" alt="Shape">
            </div>
            <div class="content">
              <h6 class="title">16 Years of Experiences</h6>
              <p>Empower your sales teams with industry
                tailored solutions that support.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-info-box">
            <div class="thumb">
              <img src="assets/img/aaa3.png" alt="Shape">
            </div>
            <div class="content">
              <h6 class="title">12 Awards Won</h6>
              <p>Empower your sales teams with industry
                tailored solutions that support.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="noidung5">
    <div class="container">
    <div class="team-left-fullwidth">
      <div class="section-title-wrapper">
        <span class="title-highlighter highlighter-primary"> <i class='bx bxs-user-account'></i> Our Team</span>
        <h3 class="title">Expart Management Team</h3>
      </div>
    </div>
      <div class="buttons1">
        <button id="prev2"><i class="fa-solid fa-arrow-left"></i></button>
        <button id="next2"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
      <div class="axil-team-member">
        <div id="slide10">
          <div class="item10"  id="item8">
            <div class="content">
              <div class="from">Founder</div>
              <h5 class="name">Hà Hữu Hoàng</h5>

            </div>
          </div>

          <div class="item10"  id="item9">
            <div class="content">
              <div class="from">Member</div>
              <h5 class="name">Ngô Mạnh Sơn</h5>

            </div>
          </div>

          <div class="item10"  id="item11">
            <div class="content">
              <div class="from">Member</div>
              <h5 class="name">Phùng Văn Vũ</h5>

            </div>
          </div>

          <div class="item10"  id="item12">
            <div class="content">
              <div class="from">Member</div>
              <h5 class="name">Nguyễn Việt Cường</h5>

            </div>
          </div>

          <div class="item10"  id="item13">
            <div class="content">
              <div class="from">Member</div>
              <h5 class="name">Nguyễn Đức Anh</h5>

            </div>
          </div>

          <div class="item10"  id="item14">
            <div class="content">
              <div class="from">Member</div>
              <h5 class="name">Đỗ Quang Dương</h5>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="noidung6">
    <div class="container">
      <div class="row align-items-center mb--80 mb_sm--60">
        <div class="col-lg-5">
          <div class="about-thumbnail">
            <img src="assets/images/about-02.png" alt="about">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="about-content content-right">
            <span class="subtitle">Features #01</span>
            <h4 class="title">Solutions that work together</h4>
            <p>Publish your eCommerce site quickly with our easy-to-use store builder— no
              coding required. Migrate your items from your point of sale system or turn your
              Instagram feed into a shopping site and start selling fast. Square Online works
              for all kinds of businesses—retail, restaurants, services.</p>
            <a href="#" class="axil-btn1 btn-outline">Get In Touch</a>
          </div>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-lg-5 order-lg-2">
          <div class="about-thumbnail">
            <img src="assets/images/about-03.png" alt="about">
          </div>
        </div>
        <div class="col-lg-7 order-lg-1">
          <div class="about-content content-left">
            <span class="subtitle">Features #01</span>
            <h4 class="title">Solutions that work together</h4>
            <p>Publish your eCommerce site quickly with our easy-to-use store builder— no
              coding required. Migrate your items from your point of sale system or turn your
              Instagram feed into a shopping site and start selling fast. Square Online works
              for all kinds of businesses—retail, restaurants, services.</p>
            <a href="#" class="axil-btn2 btn-outline">Get In Touch</a>
          </div>
        </div>
      </div>

      <div class="container-newsletter" style="height: 620px">
        <div class="newsletter-wrapper">
          <img src="assets/images/form_section.jpg" alt=""/>
          <div class="menu-text">
            <span><i class='bx bxs-envelope'></i>Newsletter</span>
            <h2>Get weekly update</h2>
          </div>
          <div class="newsletter-form">
            <form action="#" method="get">
              <i class='bx bx-mail-send' ></i>
              <input type="email" required placeholder="CodeOneMin@gmail.com"/>
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<footer class="section footer">
<!--      <div class="container-home">-->
<!--        <div class="contact-icon">-->
<!--          <div class="icon-img">-->
<!--            <img src="./assets/images/service1.png" alt=""/>-->
<!--          </div>-->
<!--          <div class="content">-->
<!--            <h6>Fast & Secure Delivery</h6>-->
<!--            <p>Chưa nghĩ ra</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="contact-icon">-->
<!--          <div class="icon-img">-->
<!--            <img src="./assets/images/service2.png" alt=""/>-->
<!--          </div>-->
<!--          <div class="content">-->
<!--            <h6>Money Back Guarantee</h6>-->
<!--            <p>Within 10 days.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="contact-icon">-->
<!--          <div class="icon-img">-->
<!--            <img src="./assets/images/service3.png" alt=""/>-->
<!--          </div>-->
<!--          <div class="content">-->
<!--            <h6>24 Hour Return Policy</h6>-->
<!--            <p>Chưa nghĩ </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="contact-icon">-->
<!--          <div class="icon-img">-->
<!--            <img src="./assets/images/service4.png" alt=""/>-->
<!--          </div>-->
<!--          <div class="content">-->
<!--            <h6>Pro Quality Support</h6>-->
<!--            <p>24/7 Live support.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <div class="row">-->
<!--          <div class="col-3">-->
<!--            <h5>Support</h5>-->
<!--            <ul>-->
<!--              <li><a href="https://www.google.com/maps/place/FPT+Aptech+H%C3%A0+N%E1%BB%99i+-+H%E1%BB%87+Th%E1%BB%91ng+%C4%90%C3%A0o+T%E1%BA%A1o+L%E1%BA%ADp+Tr%C3%ACnh+Vi%C3%AAn+Qu%E1%BB%91c+T%E1%BA%BF+(Since+1999)/@21.0288201,105.780108,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ab86cece9ac1:0xa9bc04e04602dd85!8m2!3d21.0288201!4d105.7822967?hl=vi">-->
<!--                8A, Ton That Thuyet, Nam Tu Liem, Ha Noi</a></li>-->
<!--              <li><i class='bx bx-envelope'></i> <a href="mailto:codeonemin@gmail.com">codeonemin@gmail.com</a></li>-->
<!--              <li><i class='bx bx-phone'></i> <a href="tel:+123 456 7890">+123 456 7890</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="col-3">-->
<!--            <h5>Account</h5>-->
<!--            <ul>-->
<!--              <li><a href="">My Account</a></li>-->
<!--              <li><a href="">Login / Register</a></li>-->
<!--              <li><a href="">Cart</a></li>-->
<!--              <li><a href="">Wishlist</a></li>-->
<!--              <li><a href="">Shop</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="col-3">-->
<!--            <h5>Quick Link</h5>-->
<!--            <ul>-->
<!--              <li><a href="">Privacy Policy</a></li>-->
<!--              <li><a href="">Terms Of Use</a></li>-->
<!--              <li><a href="">FAQ</a></li>-->
<!--              <li><a href="">Contact</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="col-3">-->
<!--            <h5>Download App</h5>-->
<!--            <div class="qr-code">-->
<!--              <p>Save $3 With App & New User only</p>-->
<!--              <img src="./assets/images/qrcode_CodeOneMin.png" alt=""/>-->
<!--              <div class="link-app">-->
<!--                <a href=""><img src="./assets/images/app-store.png" alt=""/></a>-->
<!--                <a href=""><img src="./assets/images/play-store.png" alt=""/></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <hr class="hr-2"/>-->
<!--        <div class="row">-->
<!--          <div class="social-icon col-3">-->
<!--            <div class="menu-icons">-->
<!--              <a href=""><i class='bx bxl-facebook-circle'></i></a>-->
<!--              <a href=""><i class='bx bxl-instagram-alt'></i></a>-->
<!--              <a href=""><i class='bx bxl-twitter' ></i></a>-->
<!--              <a href=""><i class='bx bxl-linkedin-square'></i></a>-->
<!--              <a href=""><i class='bx bxl-discord-alt' ></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="copy-right col-5">-->
<!--            <p>© 2022 by <a href="#">Code One Min</a>. All rights reserved.</p>-->
<!--          </div>-->
<!--          <div class="payment col-4">-->
<!--            <h6>Accept For</h6>-->
<!--            <div class="cart-img">-->
<!--              <img src="./assets/images/cart-1.png" alt=""/>-->
<!--              <img src="./assets/images/cart-2.png" alt=""/>-->
<!--              <img src="./assets/images/cart-3.png" alt=""/>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
</footer>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class='bx bxs-to-top'></i></button>
</body>
</html>
