<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
  #item8{
    background-image: url(assets/img/avta1.png);
  }
  #item9{
    background-image: url(assets/img/avta2.png);
  }
  #item14{
    background-image: url(assets/img/avta3.png);
  }
  #item11{
    background-image: url(assets/img/avta4.png);
  }
  #item12{
    background-image: url(assets/img/avta5.png);
  }
  #item13{
    background-image: url(assets/img/avta5.png);
  }
  #item7{
    background-image:url("assets/img/navbar.png") ;
  }
  #item1{
    background-image: url(assets/img/hhh.jpg);

  }
  #item2{
    background-image: url(assets/img/kkk.jpg);
  }
  #item3{
    background-image: url(assets/img/ttt.jpg);
  }
  #item4{
    background-image: url(assets/img/keyborad_akko.jpg);
  }
  #item5{
    background-image: url(assets/img/taycamps5.jpg);
  }
  #item6{
    background-image: url(assets/img/mouse.jpg);
  }
</style>




<div class="section navigation">
  <div class="nav1">
    <div id="item7" >
    </div>
  </div>
</div>
<div class="about">
  <div class="container">
    <div class="flex">
      <div class="inner">
        <ul class="axil-breadcrumb">
          <li class="axil-breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="separator"></li>
          <li class="axil-breadcrumb-item active" >Blogs</li>
        </ul>
        <h1 class="title">Blog List</h1>

      </div>
      <div class="anh1">
        <img src="assets/images/lll.png" alt="anhloi">
      </div>
    </div>
  </div>
</div>

  <div class="section-blog">
    <div class="container">
      <div class="banner-img">
        <img src="./assets/images/blog-banner.jpg" alt=""/>
      </div>
        <div class="row">
        <div class="icons-share col-1">
          <h5 class="title-share">Share on:</h5>
          <a href="#"><i class='bx bxl-facebook'></i></a><br>
          <a href="#"><i class='bx bxl-instagram' ></i></a><br>
          <a href="#"><i class='bx bxl-twitter'></i></a><br>
          <a href="#"><i class='bx bxl-linkedin'></i></a><br>
          <a href="#"><i class='bx bxl-discord-alt'></i></a>
        </div>
        <div class="post-blog col-7">
          <div class="post-heading">
            <h2>How to generate blog ideas are great for businesses that sell.</h2>
          </div>
          <div class="post-meta">
            <div class="post-avatar">
              <img src="assets/images/images.jpg" alt=""/>
            </div>
            <div class="post-note col-4">
              <a href="#">Devon Lane</a>
              <ul>
                <li class="post-item">Mar 20, 2022</li>
                <li class="post-none-item"></li>
                <li class="post-item">300k Views</li>
              </ul>
            </div>
          </div>
          <hr class="hr-post">
          <p>Habitasse per feugiat aliquam luctus accumsan curae, suspendisse aliquam taciti eros neque,
            aenean sit iaculis risus commodo ut sociosqu rhoncus potenti tristique placerat sit tempus,
            duis erat feugiat cras sociosqu porta ut praesent, fermentum donec convallis tellus vulputate duis nibh rhoncus phasellus dui massa nisl.</p>
          <p>Whether you’re kicking off a new campaign or looking to revamp your strategy, the lessons you’ll learn will be universal to all small business email marketing.</p>
          <p>MailChimp is an email marketing service provider founded in 2001. It has 9 million users that collectively send over 15 billion emails through the service each month.</p>
          <p>Email is a crucial channel in any marketing mix, and never has this been truer than for today’s entrepreneur. Curious what to say? How to say it? How often to hit “send”? Each bite-sized lesson delivers core concepts, guiding questions, and tactical how-to resources.</p>
          <p>Whether you’re kicking off a new campaign or looking to revamp your strategy, the lessons you’ll learn will be universal to all small business email marketing.</p>
          <div class="inner-blog">
            <div class="inner-content">
              <p>“Email is a crucial channel in any marketing mix,
                 and never has this been truer than for today’s entrepreneur.
                 Curious what to say? How to say it? How often to hit “send”?
                 Each bite-sized lesson delivers core concepts, guiding questions,
                 and tactical how-to resources.”</p>
            </div>
            <div class="post-meta">
              <div class="post-avatar">
                <img src="assets/images/images.jpg" alt=""/>
              </div>
              <div class="post-note col-5">
                <a href="#">Devon Lane</a>
                <ul>
                  <li class="post-item">Mar 20, 2022</li>
                  <li class="post-none-item"></li>
                  <li class="post-item">300k Views</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="video-ytb">
            <h2>Short Clip</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UfawgQJICU8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="comment-respond">
            <h4>Question & Answer</h4>
            <form>
              <p>Your email address will not be published.</p>
              <div class="form-group">
                <label for="reply" class="reply">Leave a Reply</label>
                <textarea id="reply" required></textarea>
              </div>
              <div class="bao-int col-12">
                <div class="form-group col-6">
                  <label for="name" class="name">Name: <span>*</span></label>
                  <input type="text" id="name" required/>
                </div>
                <div class="form-group-2 col-6">
                  <label for="email" class="email">Email: <span>*</span></label>
                  <input type="email" id="email" required/>
                </div>
              </div>
              <div class="btn-send">
                <button type="submit">Send Message</button>
              </div>
            </form>
          </div>
        </div>
          <div class="right-slider col-4">
            <div class="single-widget">
              <h6>Latest Posts</h6>
              <div class="post-list">
                <div class="thumbnail">
                  <a href="#"><img src="./assets/images/blog_list1.jpg" alt=""/></a>
                </div>
                <div class="thumbnail-content col-6">
                  <a href="#">Apple presents App Best of 2020 winners</a>
                  <ul>
                    <li class="thumbnail-item">Dec 12, 2022</li>
                    <li class="thumbnail-none-item"></li>
                    <li class="thumbnail-item">300k Views</li>
                  </ul>
                </div>
              </div>
              <div class="post-list">
                <div class="thumbnail">
                  <a href="#"><img src="./assets/images/blog_list2.jpg" alt=""/></a>
                </div>
                <div class="thumbnail-content col-6">
                  <a href="#">On hand power bank Xmobile PowerBox</a>
                  <ul>
                    <li class="thumbnail-item">Dec 02, 2022</li>
                    <li class="thumbnail-none-item"></li>
                    <li class="thumbnail-item">500k Views</li>
                  </ul>
                </div>
              </div>
              <div class="post-list">
                <div class="thumbnail">
                  <a href="#"><img src="./assets/images/blog_list3.jpg" alt=""/></a>
                </div>
                <div class="thumbnail-content col-6">
                  <a href="#">Gigabyte Gaming Aorus 17 XE5. Review</a>
                  <ul>
                    <li class="thumbnail-item">Nov 29, 2022</li>
                    <li class="thumbnail-none-item"></li>
                    <li class="thumbnail-item">266k Views</li>
                  </ul>
                </div>
              </div>
              <div class="post-list">
                <div class="thumbnail">
                  <a href="#"><img src="./assets/images/blog_list4.jpg" alt=""/></a>
                </div>
                <div class="thumbnail-content col-6">
                  <a href="#">5 things need to do after updating to Windows 11</a>
                  <ul>
                    <li class="thumbnail-item">Nov 28, 2022</li>
                    <li class="thumbnail-none-item"></li>
                    <li class="thumbnail-item">10k Views</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="single-widget">
              <h6>Some products you may like</h6>
              <div class="related-products">
                <div class="thumbnail-2">
                  <a href="#"><img src="./assets/images/MacBook-Pro-14.jpg" alt=""/></a>
                </div>
                <div class="pr-content">
                  <h5 class="giatien"><a href="">Apple MacBook Pro 16"</a></h5>
                  <p>$2.599 <span>$2.622</span></p>
                </div>
              </div>
              <div class="related-products">
                <div class="thumbnail-2">
                    <a href="#"><img src="./assets/images/Razer-Blade.jpg" alt=""/></a>
                </div>
                <div class="pr-content">
                  <h5 class="giatien"><a href="">Razer Blade 13 Base</a></h5>
                  <p>$2.050 <span>$2.065</span></p>
                </div>
              </div>
              <div class="related-products">
                <div class="thumbnail-2">
                  <a href="#"><img src="./assets/images/manhinh-tuf.png" alt=""/></a>
                </div>
                <div class="pr-content">
                  <h5 class="giatien"><a href="">TUF Gaming VG34VQL1B</a></h5>
                  <p>$469 <span>$480</span></p>
                </div>
              </div>
              <div class="related-products">
                <div class="thumbnail-2">
                  <a href="#"><img src="./assets/images/logitech-mx-mast.png" alt=""/></a>
                </div>
                <div class="pr-content">
                  <h5 class="giatien"><a href="">Logitech MX Master 3</a></h5>
                  <p>$107 <span>$110</span></p>
                </div>
              </div>

              <div class="related-products">
                <div class="thumbnail-2">
                    <a href="#"><img src="./assets/images/sacduphong.jpg" alt=""/></a>
                </div>
                <div class="pr-content">
                  <h5 class="giatien"><a href="">Xmobile PowerBox</a></h5>
                  <p>$2.050 <span>$2.065</span></p>
                </div>
              </div>



            </div>
          </div>
       </div>
    </div>
  </div>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class='bx bxs-to-top'></i></button>


