<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">-->
<!--  <title>Layout</title>-->
<!--</head>-->
<style>
  #item8{
    background-image: url(assets/img/avta1.png);
  }
  #item9{
    background-image: url(assets/img/avta2.png);
  }
  #item14{
    background-image: url(assets/img/avta3.png);
  }
  #item11{
    background-image: url(assets/img/avta4.png);
  }
  #item12{
    background-image: url(assets/img/avta5.png);
  }
  #item13{
    background-image: url(assets/img/avta5.png);
  }
  #item7{
    background-image:url("assets/img/navbar.png") ;
  }
  #item1{
    background-image: url(assets/img/hhh.jpg);

  }
  #item2{
    background-image: url(assets/img/kkk.jpg);
  }
  #item3{
    background-image: url(assets/img/ttt.jpg);
  }
  #item4{
    background-image: url(assets/img/keyborad_akko.jpg);
  }
  #item5{
    background-image: url(assets/img/taycamps5.jpg);
  }
  #item6{
    background-image: url(assets/img/mouse.jpg);
  }
</style>
<body>

<!--<div class="header axil-header header-style-1" >-->

<!--  <div class="axil-header-top">-->
<!--    <div class="container " >-->
<!--      <div class="row align-items-center">-->
<!--        <div class="col-sm-6">-->
<!--          <div class="header-top-dropdown">-->
<!--            <div class="dropdown">-->
<!--              <button type="button" >English</button>-->
<!--              <ul class="dropdown-menu" style="">-->
<!--                <li><a class="dropdown-item" href="#">English</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Arabic</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Spanish</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="dropdown">-->
<!--              <button  type="button"  >-->
<!--                USD-->
<!--              </button>-->
<!--              <ul class="dropdown-menu" style="">-->
<!--                <li><a class="dropdown-item" href="#">USD</a></li>-->
<!--                <li><a class="dropdown-item" href="#">AUD</a></li>-->
<!--                <li><a class="dropdown-item" href="#">EUR</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--          <div class="header-top-link">-->
<!--            <ul class="quick-link">-->
<!--              <li><a href="#">Help</a></li>-->
<!--              <li><a href="#">Join Us</a></li>-->
<!--              <li><a href="#">Sign In</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="axil-mainmenu" >-->
<!--    <div class="container" >-->

<!--      <header class="header-navbar " >-->
<!--        <div class="header-brand">-->
<!--          <a routerLink="/home1" class="logo logo-dark">-->
<!--            <img src="assets/img/logo1.jpg" alt="logo">-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="header-main-nav" style="width:90% ">-->
<!--          &lt;!&ndash; Start Mainmanu Nav &ndash;&gt;-->
<!--          <nav class="mainmenu-nav">-->

<!--            <ul class="mainmenu">-->
<!--              <li class="menu-item-has-children menu-item-open">-->
<!--                <a href="#">Home</a>-->

<!--              </li>-->
<!--              <li class="menu-item-has-children">-->
<!--                <a href="#">Shop<i class='bx bx-chevron-down' ></i></a>-->
<!--                <ul>-->
<!--                  <li>Home 1</li>-->
<!--                  <li>Home 2</li>-->
<!--                  <li>Home 3</li>-->
<!--                  <li>Home 4</li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class="menu-item-has-children">-->
<!--                <a  href="#">Pages<i class='bx bx-chevron-down' ></i></a>-->
<!--                <ul>-->
<!--                  <li>Home 1</li>-->
<!--                  <li>Home 2</li>-->
<!--                  <li>Home 3</li>-->
<!--                  <li>Home 4</li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">About</a></li>-->
<!--              <li class="menu-item-has-children">-->
<!--                <a href="#">Blog</a>-->

<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">Contact</a>-->

<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--          &lt;!&ndash; End Mainmanu Nav &ndash;&gt;-->
<!--        </div>-->

<!--        <div class="header-action">-->
<!--          <ul class="action-list">-->
<!--            <li class="search">-->

<!--              <label for="open">-->
<!--                <i class='bx bx-search'></i>-->
<!--              </label>-->
<!--            </li>-->
<!--            <li class="wishlist">-->
<!--              <a href="#">-->
<!--                <i class='bx bx-like'></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="shopping-cart">-->
<!--              <a href="#" >-->
<!--                <i class='bx bx-shopping-bag' ></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="my-account">-->
<!--              <a href="#">-->
<!--                <i class='bx bx-user'></i>-->
<!--              </a>-->

<!--            </li>-->

<!--          </ul>-->
<!--        </div>-->
<!--        <div class="nav-search">-->
<!--          <input type="checkbox" name="open" id="open">-->
<!--          <form action="" class="search-form" role="search">-->
<!--            <input autocomplete="off" class="search-input" name="q" placeholder="Search" type="search" value="">-->
<!--            <input class="search-action" type="submit" value="Ok">-->
<!--          </form>-->
<!--        </div>-->
<!--      </header>-->

<!--    </div>-->



<!--  </div>-->

<!--</div>-->


<div class="section navigation">
  <div class="nav1">
    <div id="item7" >
    </div>
  </div>
</div>
<div class="navigation-contact">
  <div class="container">

    <div class="mhder">
      <div class="row justify-content-center">
        <div class="hienthi-nav col-6">
          <div class="inner-contact">
            <ul>
              <li class="ct-items"><a href="#">Home</a></li>
              <li class="ct-none-item"></li>
              <li class="ct-items-act">Contact</li>
            </ul>
          </div>
          <h1>Contact With Us</h1>
        </div>
        <div class="hienthi-nav col-6">
          <img src="./assets/images/nav_contact.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-contact">
  <div class="container">
    <div class="stn row">
      <div class="col-8">
        <div class="contact-form">
          <h3>We would love to hear from you.</h3>
          <p>If you’ve got great products your making or looking to work with us then drop us a line.</p>
          <form id="contact-form">
            <div class="nhap-thongtin col-12">
                <div class="ipt col-4">
                  <label for="name-ct">Name: <span>*</span></label>
                  <input type="text" id="name-ct" required/>
                </div>
                <div class="ipt col-4">
                  <label for="phone-ct">Phone: <span>*</span></label>
                  <input type="text" id="phone-ct" required/>
                </div>
                <div class="ipt col-4">
                  <label for="email-ct">Email: <span>*</span></label>
                  <input type="email" id="email-ct" required/>
                </div>
            </div>
            <div class="nhap-thongtin col-12">
              <div class="tera col-12">
                <label for="text">Your Massage</label>
                <textarea id="text" required></textarea>
              </div>
            </div>
            <div class="submit-ct">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>

      <div class="menu-right col-4">
        <div class="location-ct">
          <h4>Our Store</h4>
          <span>8A, Ton That Thuyet, Nam Tu Liem, Ha Noi</span><br>
          <span>Phone: +123 456 7890</span><br>
          <span>Email: CodeOneMin@gmail.com</span>
        </div>
        <div class="career-ct">
          <h4>Careers</h4>
          <span>Instead of buying six things, one that you really like.</span>
        </div>
        <div class="opening-ct">
          <h4>Opening Hours: </h4>
          <span>Monday to Saturday: 9am - 10pm</span><br>
          <span>Sundays: 10am - 6pm</span>
        </div>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.096608933641!2d105.78229669999999!3d21.0288201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab86cece9ac1%3A0xa9bc04e04602dd85!2zRlBUIEFwdGVjaCBIw6AgTuG7mWkgLSBI4buHIFRo4buRbmcgxJDDoG8gVOG6oW8gTOG6rXAgVHLDrG5oIFZpw6puIFF14buRYyBU4bq_IChTaW5jZSAxOTk5KQ!5e0!3m2!1svi!2s!4v1670412742820!5m2!1svi!2s" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
</body>
