

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <title>Layout</title>
</head>
<style>
  #item8{
    background-image: url(assets/img/avta1.png);
  }
  #item9{
    background-image: url(assets/img/avta2.png);
  }
  #item14{
    background-image: url(assets/img/avta3.png);
  }
  #item11{
    background-image: url(assets/img/avta4.png);
  }
  #item12{
    background-image: url(assets/img/avta5.png);
  }
  #item13{
    background-image: url(assets/img/avta5.png);
  }
  #item7{
    background-image:url("assets/img/navbar.png") ;
  }
  #item1{
    background-image: url(assets/img/hhh.jpg);

  }
  #item2{
    background-image: url(assets/img/kkk.jpg);
  }
  #item3{
    background-image: url(assets/img/ttt.jpg);
  }
  #item4{
    background-image: url(assets/img/keyborad_akko.jpg);
  }
  #item5{
    background-image: url(assets/img/taycamps5.jpg);
  }
  #item6{
    background-image: url(assets/img/mouse.jpg);
  }
</style>
<body>

<!--<div class="header axil-header header-style-1" >-->

<!--  <div class="axil-header-top">-->
<!--    <div class="container " >-->
<!--      <div class="row align-items-center">-->
<!--        <div class="col-sm-6">-->
<!--          <div class="header-top-dropdown">-->
<!--            <div class="dropdown">-->
<!--              <button type="button" >English</button>-->
<!--              <ul class="dropdown-menu" style="">-->
<!--                <li><a class="dropdown-item" href="#">English</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Arabic</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Spanish</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="dropdown">-->
<!--              <button  type="button"  >-->
<!--                USD-->
<!--              </button>-->
<!--              <ul class="dropdown-menu" style="">-->
<!--                <li><a class="dropdown-item" href="#">USD</a></li>-->
<!--                <li><a class="dropdown-item" href="#">AUD</a></li>-->
<!--                <li><a class="dropdown-item" href="#">EUR</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--          <div class="header-top-link">-->
<!--            <ul class="quick-link">-->
<!--              <li><a href="#">Help</a></li>-->
<!--              <li><a href="#">Join Us</a></li>-->
<!--              <li><a href="#">Sign In</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="axil-mainmenu" >-->
<!--    <div class="container" >-->

<!--      <header class="header-navbar " >-->
<!--        <div class="header-brand">-->
<!--          <a routerLink="/home1" class="logo logo-dark">-->
<!--            <img src="assets/img/logo1.jpg" alt="logo">-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="header-main-nav" style="width:90% ">-->
<!--          &lt;!&ndash; Start Mainmanu Nav &ndash;&gt;-->
<!--          <nav class="mainmenu-nav">-->

<!--            <ul class="mainmenu">-->
<!--              <li class="menu-item-has-children menu-item-open">-->
<!--                <a href="#">Home</a>-->

<!--              </li>-->
<!--              <li class="menu-item-has-children">-->
<!--                <a href="#">Shop<i class='bx bx-chevron-down' ></i></a>-->
<!--                <ul>-->
<!--                  <li>Home 1</li>-->
<!--                  <li>Home 2</li>-->
<!--                  <li>Home 3</li>-->
<!--                  <li>Home 4</li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class="menu-item-has-children">-->
<!--                <a  href="#">Pages<i class='bx bx-chevron-down' ></i></a>-->
<!--                <ul>-->
<!--                  <li>Home 1</li>-->
<!--                  <li>Home 2</li>-->
<!--                  <li>Home 3</li>-->
<!--                  <li>Home 4</li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">About</a></li>-->
<!--              <li class="menu-item-has-children">-->
<!--                <a href="#">Blog</a>-->

<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">Contact</a>-->

<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--          &lt;!&ndash; End Mainmanu Nav &ndash;&gt;-->
<!--        </div>-->

<!--        <div class="header-action">-->
<!--          <ul class="action-list">-->
<!--            <li class="search">-->

<!--              <label for="open">-->
<!--                <i class='bx bx-search'></i>-->
<!--              </label>-->
<!--            </li>-->
<!--            <li class="wishlist">-->
<!--              <a href="#">-->
<!--                <i class='bx bx-like'></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="shopping-cart">-->
<!--              <a href="#" >-->
<!--                <i class='bx bx-shopping-bag' ></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="my-account">-->
<!--              <a href="#">-->
<!--                <i class='bx bx-user'></i>-->
<!--              </a>-->

<!--            </li>-->

<!--          </ul>-->
<!--        </div>-->
<!--        <div class="nav-search">-->
<!--          <input type="checkbox" name="open" id="open">-->
<!--          <form action="" class="search-form" role="search">-->
<!--            <input autocomplete="off" class="search-input" name="q" placeholder="Search" type="search" value="">-->
<!--            <input class="search-action" type="submit" value="Ok">-->
<!--          </form>-->
<!--        </div>-->
<!--      </header>-->

<!--    </div>-->



<!--  </div>-->

<!--</div>-->


<div class="section navigation">
  <div class="nav1">
    <div id="item7" >
    </div>
  </div>
</div>

<!--<section class="section main " style="height: 1630px;">-->
<!--    <div class="chitiet">-->
<!--      <div class="container" style="    padding-bottom: 70px;">-->
<!--        <div class="product">-->
<!--          <div class="product-img">-->
<!--            <img src="./assets/images/appleWatch.jpg" onclick="myFunction(this)" alt=""/>-->
<!--            <img src="./assets/images/appleWatch2.jpg" onclick="myFunction(this)" alt=""/>-->
<!--            <img src="./assets/images/appleWatch3.jpg" onclick="myFunction(this)" alt=""/>-->
<!--            <img src="./assets/images/appleWatch4.jpg" onclick="myFunction(this)" alt=""/>-->
<!--          </div>-->
<!--          <div class="img-container">-->
<!--            <img src="./assets/images/appleWatch.jpg" id="imgBox" alt=""/>-->
<!--          </div>-->
<!--          <div class="inner">-->
<!--            <h2>Apple Watch</h2>-->
<!--            <span class="amount">$155.00 - $255.00</span>-->
<!--            <div class="feedback-star">-->
<!--              <i class='bx bxs-star' ></i>-->
<!--              <i class='bx bxs-star' ></i>-->
<!--              <i class='bx bxs-star' ></i>-->
<!--              <i class='bx bxs-star' ></i>-->
<!--              <i class='bx bx-star'></i>-->
<!--              <p class="feedback-title">(3 customer review)</p>-->
<!--            </div>-->
<!--            <div class="hr"></div>-->
<!--            <div class="inner1">-->
<!--            <ul class="product-meta">-->
<!--              <li><i class='bx bx-check'></i>In stock</li>-->
<!--              <li><i class='bx bx-check'></i>Free delivery available</li>-->
<!--              <li><i class='bx bx-check'></i>Sales 30% Off Use Code: CodeOneMin</li>-->
<!--            </ul>-->
<!--              <p class="description">-->
<!--                In ornare lorem ut est dapibus, ut tincidunt nisi pretium.-->
<!--                Integer ante est, elementum eget magna.-->
<!--                Pellentesque sagittis dictum libero, eu dignissim tellus.-->
<!--              </p>-->
<!--            </div>-->
<!--            <form class="from11">-->
<!--              <div class="product-variation">-->
<!--                <h6 class="title">Colors:</h6>-->

<!--              <div class="focus-color">-->
<!--                <div class="color-select">-->
<!--                  <label for="orange">-->
<!--                    <input type="radio" name="color" id="orange">-->
<!--                    <span class="color-1"></span>-->
<!--                  </label>-->
<!--                  <label for="blueviolet">-->
<!--                    <input type="radio" name="color" id="blueviolet">-->
<!--                    <span class="color-2"></span>-->
<!--                  </label>-->
<!--                  <label for="mediumvioletred">-->
<!--                    <input type="radio" name="color" id="mediumvioletred">-->
<!--                    <span class="color-3"></span>-->
<!--                  </label>-->
<!--                </div>-->
<!--              </div>-->
<!--              </div>-->
<!--              <div class="size">-->
<!--                <h6 class="title">Size:</h6>-->
<!--                <div class="btn-size">-->
<!--                  <div class="size-select">-->
<!--                    <label for="sizeS">-->
<!--                      <input type="radio" name="size" id="sizeS" required/>-->
<!--                      <span class="size">S</span>-->
<!--                    </label>-->
<!--                    <label for="sizeM">-->
<!--                      <input type="radio" name="size" id="sizeM" required/>-->
<!--                      <span class="size">M</span>-->
<!--                    </label>-->
<!--                    <label for="sizeL">-->
<!--                      <input type="radio" name="size" id="sizeL" required/>-->
<!--                      <span class="size">L</span>-->
<!--                    </label>-->
<!--                    <label for="sizeXL">-->
<!--                      <input type="radio" name="size" id="sizeXL" required/>-->
<!--                      <span class="size">XL</span>-->
<!--                    </label>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <form class="tang-giam">-->

<!--                <h5 class="soluong-sphm">Amount: </h5>-->
<!--                <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>-->
<!--                <input type="number" id="soluong" value="1" />-->
<!--                <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>-->

<!--              </form>-->
<!--              <div class="add-to-card">-->
<!--                <div class="add-cart">-->
<!--                  <button type="button">Add to Cart</button>-->
<!--                </div>-->
<!--                <div class="heart">-->
<!--                  <button type="button"><i class='bx bx-heart' ></i></button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </form>-->

<!--          </div>-->






<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  <div class="fess">-->
<!--    <div class="container">-->
<!--        <div class="describe">-->
<!--          <div class="tab">-->
<!--            <button class="tablinks" onclick="openCity(event, 'description')">Description</button>-->
<!--            <button class="tablinks" onclick="openCity(event, 'information')">Additional Information</button>-->
<!--            <button class="tablinks active" onclick="openCity(event, 'review')">Reviews</button>-->
<!--          </div>-->

<!--          <div id="description" class="tabcontent" style="display: none">-->
<!--&lt;!&ndash;            <div class="around-1">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="single-desc">&ndash;&gt;-->
<!--&lt;!&ndash;                <h5 class="tab-content">Specifications: </h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>&ndash;&gt;-->
<!--&lt;!&ndash;                  We’ve created a full-stack structure for our working workflow processes,&ndash;&gt;-->
<!--&lt;!&ndash;                  were from the funny the century initial all the made, have spare to negatives.&ndash;&gt;-->
<!--&lt;!&ndash;                  But the structure was from the funny the century rather, initial all the made, have spare to negatives.&ndash;&gt;-->
<!--&lt;!&ndash;                </p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="single-desc">&ndash;&gt;-->
<!--&lt;!&ndash;                <h5 class="tab-content">Care & Maintenance: </h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>&ndash;&gt;-->
<!--&lt;!&ndash;                  Use warm water to describe us as a product team that creates amazing UI/UX experiences,&ndash;&gt;-->
<!--&lt;!&ndash;                  by crafting top-notch user experience.&ndash;&gt;-->
<!--&lt;!&ndash;                </p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="features">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="img-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="icons">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="./assets/images/service3.png" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <h6>Easy Returns</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="img-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="icons">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="./assets/images/service2.png" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <h6>Quality Service</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="img-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="icons">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="./assets/images/service1.png" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <h6>Original Product</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <div class="product-desc-wrapper">-->
<!--              <div class="row">-->
<!--                <div class="col-lg-6 mb&#45;&#45;30">-->
<!--                  <div class="single-desc">-->
<!--                    <h5 class="title">Specifications:</h5>-->
<!--                    <p>We’ve created a full-stack structure for our working workflow processes, were from the funny the century initial all the made, have spare to negatives. But the structure was from the funny the century rather,-->
<!--                      initial all the made, have spare to negatives.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End .col-lg-6 &ndash;&gt;-->
<!--                <div class="col-lg-6 mb&#45;&#45;30">-->
<!--                  <div class="single-desc">-->
<!--                    <h5 class="title">Care &amp; Maintenance:</h5>-->
<!--                    <p>Use warm water to describe us as a product team that creates amazing UI/UX experiences, by crafting top-notch user experience.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End .col-lg-6 &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; End .row &ndash;&gt;-->
<!--              <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                  <ul class="pro-des-features">-->
<!--                    <li class="single-features">-->
<!--                      <div class="icon">-->
<!--                        <img src="./assets/images/service3.png" alt="icon">-->
<!--                      </div>-->
<!--                      Easy Returns-->
<!--                    </li>-->
<!--                    <li class="single-features">-->
<!--                      <div class="icon">-->
<!--                        <img src="./assets/images/service2.png" alt="icon">-->
<!--                      </div>-->
<!--                      Quality Service-->
<!--                    </li>-->
<!--                    <li class="single-features">-->
<!--                      <div class="icon">-->
<!--                        <img src="./assets/images/service1.png" alt="icon">-->
<!--                      </div>-->
<!--                      Original Product-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                  &lt;!&ndash; End .pro-des-features &ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End .row &ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->


<!--          <div id="information" class="tabcontent" style="display: none">-->

<!--            <div class="product-additional-info">-->
<!--              <div class="table-responsive">-->
<!--                <table>-->
<!--                  <tbody>-->
<!--                  <tr>-->
<!--                    <th>Stand Uppppp</th>-->
<!--                    <td>35″L x 24″W x 37-45″H(front to back wheel)</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th>Folded (w/o wheels) </th>-->
<!--                    <td>32.5″L x 18.5″W x 16.5″H</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th>Folded (w/ wheels) </th>-->
<!--                    <td>32.5″L x 24″W x 18.5″H</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th>Door Pass Through </th>-->
<!--                    <td>24</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th>Frame </th>-->
<!--                    <td>Aluminum</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th>Weight (w/o wheels) </th>-->
<!--                    <td>20 LBS</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th>Weight Capacity </th>-->
<!--                    <td>60 LBS</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th>Width</th>-->
<!--                    <td>24″</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th>Handle height (ground to handle) </th>-->
<!--                    <td>37-45″</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th>Wheels</th>-->
<!--                    <td>Aluminum</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th>Size</th>-->
<!--                    <td>S, M, X, XL</td>-->
<!--                  </tr>-->
<!--                  </tbody>-->
<!--                </table>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div id="review" class="tabcontent" style="display: block">-->
<!--            <div class="reviews-wrapper">-->
<!--              <div class="row">-->
<!--                <div class="col-lg-6 mb&#45;&#45;40">-->
<!--                  <div class="axil-comment-area pro-desc-commnet-area">-->
<!--                    <h5 class="title">01 Review for this product</h5>-->
<!--                    <ul class="comment-list">-->
<!--                      &lt;!&ndash; Start Single Comment  &ndash;&gt;-->
<!--                      <li class="comment">-->
<!--                        <div class="comment-body">-->
<!--                          <div class="single-comment">-->
<!--                            <div class="comment-img">-->
<!--                              <img src="./assets/images/images111.jpg" alt="Author Images">-->
<!--                            </div>-->
<!--                            <div class="comment-inner">-->
<!--                              <h6 class="commenter">-->
<!--                                <a class="hover-flip-item-wrapper" href="#">-->
<!--                                                                        <span class="hover-flip-item">-->
<!--                                                                            <span data-text="Cameron Williamson">Eleanor Pena</span>-->
<!--                                                                        </span>-->
<!--                                </a>-->
<!--                                <span class="commenter-rating ratiing-four-star">-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star empty-rating"></i></a>-->
<!--                                                                    </span>-->
<!--                              </h6>-->
<!--                              <div class="comment-text">-->
<!--                                <p>“We’ve created a full-stack structure for our working workflow processes, were from the funny the century initial all the made, have spare to negatives. ” </p>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      &lt;!&ndash; End Single Comment  &ndash;&gt;-->

<!--                      &lt;!&ndash; Start Single Comment  &ndash;&gt;-->
<!--                      <li class="comment">-->
<!--                        <div class="comment-body">-->
<!--                          <div class="single-comment">-->
<!--                            <div class="comment-img">-->
<!--                              <img src="./assets/images/images111.jpg" alt="Author Images">-->
<!--                            </div>-->
<!--                            <div class="comment-inner">-->
<!--                              <h6 class="commenter">-->
<!--                                <a class="hover-flip-item-wrapper" href="#">-->
<!--                                                                        <span class="hover-flip-item">-->
<!--                                                                            <span data-text="Rahabi Khan">Courtney Henry</span>-->
<!--                                                                        </span>-->
<!--                                </a>-->
<!--                                <span class="commenter-rating ratiing-four-star">-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                    </span>-->
<!--                              </h6>-->
<!--                              <div class="comment-text">-->
<!--                                <p>“We’ve created a full-stack structure for our working workflow processes, were from the funny the century initial all the made, have spare to negatives. ”</p>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      &lt;!&ndash; End Single Comment  &ndash;&gt;-->

<!--                      &lt;!&ndash; Start Single Comment  &ndash;&gt;-->
<!--                      <li class="comment">-->
<!--                        <div class="comment-body">-->
<!--                          <div class="single-comment">-->
<!--                            <div class="comment-img">-->
<!--                              <img src="./assets/images/images111.jpg" alt="Author Images">-->
<!--                            </div>-->
<!--                            <div class="comment-inner">-->
<!--                              <h6 class="commenter">-->
<!--                                <a class="hover-flip-item-wrapper" href="#">-->
<!--                                                                        <span class="hover-flip-item">-->
<!--                                                                            <span data-text="Rahabi Khan">Devon Lane</span>-->
<!--                                                                        </span>-->
<!--                                </a>-->
<!--                                <span class="commenter-rating ratiing-four-star">-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                        <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                                    </span>-->
<!--                              </h6>-->
<!--                              <div class="comment-text">-->
<!--                                <p>“We’ve created a full-stack structure for our working workflow processes, were from the funny the century initial all the made, have spare to negatives. ” </p>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                      &lt;!&ndash; End Single Comment  &ndash;&gt;-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; End .axil-commnet-area &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; End .col &ndash;&gt;-->
<!--                <div class="col-lg-6 mb&#45;&#45;40">-->
<!--                  &lt;!&ndash; Start Comment Respond  &ndash;&gt;-->
<!--                  <div class="comment-respond pro-des-commend-respond mt&#45;&#45;0">-->
<!--                    <h5 class="title mb&#45;&#45;30">Add a Review</h5>-->
<!--                    <p>Your email address will not be published. Required fields are marked *</p>-->
<!--                    <div class="rating-wrapper d-flex-center mb&#45;&#45;40">-->
<!--                      Your Rating <span class="require">*</span>-->
<!--                      <div class="reating-inner ml&#45;&#45;20">-->
<!--                        <a href="#"><i class='bx bx-star'></i></a>-->
<!--                        <a href="#"><i class='bx bx-star'></i></a>-->
<!--                        <a href="#"><i class='bx bx-star'></i></a>-->
<!--                        <a href="#"><i class='bx bx-star'></i></a>-->
<!--                        <a href="#"><i class='bx bx-star'></i></a>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <form action="#">-->
<!--                      <div class="row">-->

<!--                        <div class="col-12">-->
<!--                          <div class="form-group">-->
<!--                            <label>Other Notes (optional)</label>-->
<!--                            <textarea name="message" placeholder="Your Comment" required></textarea>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-6 col-md-6 col-12">-->
<!--                          <div class="form-group">-->
<!--                            <label>Name <span class="require">*</span></label>-->
<!--                            <input id="name" type="text" required>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-6 col-md-6 col-12">-->
<!--                          <div class="form-group">-->
<!--                            <label>Email <span class="require">*</span> </label>-->
<!--                            <input id="email" type="email" required>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-12">-->
<!--                          <div class="form-submit">-->
<!--                            <button type="submit" id="submit" class="axil-btn btn-bg-primary ">Submit Comment</button>-->
<!--                          </div>-->
<!--                        </div>-->

<!--                      </div>-->
<!--                    </form>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; End Comment Respond  &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; End .col &ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


<!--    </div>-->
<!--  </div>-->
<!--  <div class="container-newsletter">-->
<!--    <div class="newsletter-wrapper">-->
<!--      <img src="assets/images/form_section.jpg" alt=""/>-->
<!--      <div class="menu-text">-->
<!--        <span><i class='bx bxs-envelope'></i>Newsletter</span>-->
<!--        <h2>Get weekly update</h2>-->
<!--      </div>-->
<!--      <div class="newsletter-form">-->
<!--        <form action="#" method="get">-->
<!--          <i class='bx bx-mail-send' ></i>-->
<!--          <input type="email" required placeholder="CodeOneMin@gmail.com"/>-->
<!--          <button type="submit">Subscribe</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--<div class="sanphamtt  pb&#45;&#45;50 pb_sm&#45;&#45;30">-->
<!--  <div class="container">-->
<!--    <div class="sanphamtt1">-->
<!--      <span class="sanphamtt2 sanphamtt3"><i class='bx bx-shopping-bag' ></i> Your Recently</span>-->
<!--      <h2 class="title">Viewed Items</h2>-->
<!--    </div>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--<h1>hhhhhhh</h1>-->
<!--    <div class="container-newsletter">-->
<!--      <div class="newsletter-wrapper">-->
<!--        <img src="assets/images/form_section.jpg" alt=""/>-->
<!--        <div class="menu-text">-->
<!--          <span><i class='bx bxs-envelope'></i>Newsletter</span>-->
<!--          <h2>Get weekly update</h2>-->
<!--        </div>-->
<!--        <div class="newsletter-form">-->
<!--          <form action="#" method="get">-->
<!--            <i class='bx bx-mail-send' ></i>-->
<!--            <input type="email" required placeholder="CodeOneMin@gmail.com"/>-->
<!--            <button type="submit">Subscribe</button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
<section class="section main " style="height: 2418px;">
<div class="section-chitiet">
  <div class="container" >
    <div class="product-chitiet row"   *ngFor="let m of danhsach; let i =index;" >
      <div class="img-chitiet col-8">
        <div class="menu-chitiet">
          <div class="product">
            <div class="product-img" >
              <img *ngFor="let a of anh " src="{{a.thumbnail}}" onclick="myFunction(this)" alt=""/>
<!--              <img src="{{danhsach[i].thumbnail}}" onclick="myFunction(this)" alt=""/>-->

            </div>
            <div class="img-container">
              <img  src="{{danhsach[i].picture}}" id="imgBox" alt=""/>
            </div>
          </div>
        </div>
      </div>

      <div class="ndung-sph col-4">
        <div class="inner-chtt">
          <div class="ten-sp">
            <h2>{{danhsach[i].title}}</h2>
            <span>${{danhsach[i].price}} - ${{danhsach[i].discount}}</span>
          </div>
          <div class="sao-dg">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half' ></i>
            <p>(3 customer reviews)</p>
          </div>
          <hr class="hr-chtt"/>
        </div>
        <ul class="product-meta">
          <li><i class='bx bx-check' ></i> In stock</li>
          <li><i class='bx bx-check' ></i> Free delivery available</li>
          <li><i class='bx bx-check' ></i> Sales 30% Off Use Code: MOTIVE30</li>
        </ul>
        <p class="bla-bla">In ornare lorem ut est dapibus, ut tincidunt nisi pretium.
          Integer ante est, elementum eget magna.
          Pellentesque sagittis dictum libero,
          eu dignissim tellus.</p>
        <form>
          <div class="product-variation">
            <h6 class="title">Colors:</h6>
            <div class="focus-color">
              <div class="color-select">
                <label for="orange">
                  <input type="radio" name="color" id="orange">
                  <span class="color-1"></span>
                </label>
                <label for="blueviolet">
                  <input type="radio" name="color" id="blueviolet">
                  <span class="color-2"></span>
                </label>
                <label for="mediumvioletred">
                  <input type="radio" name="color" id="mediumvioletred">
                  <span class="color-3"></span>
                </label>
              </div>
            </div>
          </div>
<!--          <div class="size">-->
<!--            <h6 class="title">Size:</h6>-->
<!--            <div class="btn-size">-->
<!--              <div class="size-select">-->
<!--                <label for="sizeS">-->
<!--                  <input type="radio" name="size" id="sizeS" required/>-->
<!--                  <span class="size">S</span>-->
<!--                </label>-->
<!--                <label for="sizeM">-->
<!--                  <input type="radio" name="size" id="sizeM" required/>-->
<!--                  <span class="size">M</span>-->
<!--                </label>-->
<!--                <label for="sizeL">-->
<!--                  <input type="radio" name="size" id="sizeL" required/>-->
<!--                  <span class="size">L</span>-->
<!--                </label>-->
<!--                <label for="sizeXL">-->
<!--                  <input type="radio" name="size" id="sizeXL" required/>-->
<!--                  <span class="size">XL</span>-->
<!--                </label>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="tang-giam">
            <h5 class="soluong-sphm">Amount: </h5>
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
            <input type="number" id="soluong" value="1" required/>
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
          </div>
          <div class="cart-chtt">
            <button type="submit" routerLink="/cart"  (click)="onactive()">Add to Cart <i class='bx bx-cart'></i></button>
            <button type="button" class="heart"><i class='bx bx-heart'></i></button>
          </div>
        </form>
      </div>
      <div class="describe" style="    margin-top: 65px;">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'description')">Description</button>
          <button class="tablinks" onclick="openCity(event, 'information')">Additional Information</button>
          <button class="tablinks active" onclick="openCity(event, 'review')">Reviews</button>
        </div>

        <div id="description" class="tabcontent" style="display: none">
          <div class="around-1">
            <div class="single-desc">
              <h5 class="tab-content">Specifications: </h5>
              <p>
                {{danhsach[i].description}}
              </p>
            </div>
            <div class="single-desc">
              <h5 class="tab-content">Care & Maintenance: </h5>
              <p>
                Use warm water to describe us as a product team that creates amazing UI/UX experiences,
                by crafting top-notch user experience.
                by crafting top-notch user experience.
                by crafting top-notch user experience.
              </p>
            </div>
            <div class="features">
              <div class="img-icon">
                <div class="icons">
                  <img src="./assets/images/service3.png" alt=""/>
                </div>
                <h5>Easy Returns</h5>
              </div>
              <div class="img-icon">
                <div class="icons">
                  <img src="./assets/images/service2.png" alt=""/>
                </div>
                <h5>Quality Service</h5>
              </div>
              <div class="img-icon">
                <div class="icons">
                  <img src="./assets/images/service1.png" alt=""/>
                </div>
                <h5>Original Product</h5>
              </div>
            </div>
          </div>
        </div>


        <div id="information" class="tabcontent" style="display: none">
          <div class="around-2">
            <div class="bg-content">
              <table class="customers">
                <tr>
                  <td>Stand Up</td>
                  <td>35″L x 24″W x 37-45″H(front to back wheel)</td>
                </tr>
                <tr>
                  <td>Folded (W/O Wheels)</td>
                  <td>32.5″L x 18.5″W x 16.5″H</td>
                </tr>
                <tr>
                  <td>Folded (W/ Wheels)</td>
                  <td>32.5″L x 24″W x 18.5″H</td>
                </tr>
                <tr>
                  <td>Door Pass Through</td>
                  <td>24</td>
                <tr>
                  <td>Frame</td>
                  <td>Aluminum</td>
                </tr>
                <tr>
                  <td>Weight (W/O Wheels)</td>
                  <td>20 LBS</td>
                </tr>
                <tr>
                  <td>Weight Capacity</td>
                  <td>60 LBS</td>
                </tr>
                <tr>
                  <td>Width</td>
                  <td>24″</td>
                </tr>
                <tr>
                  <td>Handle Height (Ground To Handle)</td>
                  <td>37-45″</td>
                </tr>
                <tr>
                  <td>Wheels</td>
                  <td>Aluminum</td>
                </tr>
                <tr>
                  <td>Size</td>
                  <td>S, M, L, XL</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div id="review" class="tabcontent" style="display: block">
          <div class="around-3">
            <div class="reviews-wrapper row">
              <div class="user-rw col-6">
                <h2>01 Review for this product</h2>
                <div class="user-cmt">
                  <div class="bao-cmt">
                    <div class="img-us">
                      <img src="assets/images/user4.jpg" alt=""/>
                    </div>
                    <div class="name-us">
                      <h6><a href="">Eleanor Pena</a></h6>
                      <span class="sao-us">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bx-star' ></i>
                    </span>
                    </div>
                  </div>
                  <div class="cmt-text">
                    <p>“We’ve created a full-stack structure for our working workflow processes,
                      were from the funny the century initial all the made, have spare to negatives. ”</p>
                  </div>
                </div>
                <div class="user-cmt">
                  <div class="bao-cmt">
                    <div class="img-us">
                      <img src="assets/images/user6.jpg" alt=""/>
                    </div>
                    <div class="name-us">
                      <h6><a href="">Courtney Henry</a></h6>
                      <span class="sao-us">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bx-star' ></i>
                    </span>
                    </div>
                  </div>
                  <div class="cmt-text">
                    <p>“We’ve created a full-stack structure for our working workflow processes,
                      were from the funny the century initial all the made, have spare to negatives. ”</p>
                  </div>
                </div>
                <div class="user-cmt">
                  <div class="bao-cmt">
                    <div class="img-us">
                      <img src="assets/images/user1.jpg" alt=""/>
                    </div>
                    <div class="name-us">
                      <h6><a href="">Devon Lane</a></h6>
                      <span class="sao-us">
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bx-star' ></i>
                    </span>
                    </div>
                  </div>
                  <div class="cmt-text">
                    <p>“We’ve created a full-stack structure for our working workflow processes,
                      were from the funny the century initial all the made, have spare to negatives. ”</p>
                  </div>
                </div>

              </div>
              <div class="col-6 a">
                <div class="add-review">
                  <h2>Add a Review</h2>
                  <p>Your email address will not be published. Required fields are marked *</p>
                </div>
                <form>
                  <div class="danh-gia">
                    <h6>Your Rating: <span>*</span></h6>
                    <div class="stars">
                      <input class="star star-5" id="star-5-2" type="radio" name="star"/>
                      <label class="star star-5" for="star-5-2"></label>
                      <input class="star star-4" id="star-4-2" type="radio" name="star"/>
                      <label class="star star-4" for="star-4-2"></label>
                      <input class="star star-3" id="star-3-2" type="radio" name="star"/>
                      <label class="star star-3" for="star-3-2"></label>
                      <input class="star star-2" id="star-2-2" type="radio" name="star"/>
                      <label class="star star-2" for="star-2-2"></label>
                      <input class="star star-1" id="star-1-2" type="radio" name="star"/>
                      <label class="star star-1" for="star-1-2"></label>
                    </div>
                  </div>
                  <div class="form-review row">
                    <div class="form-inpt col-12">
                      <div class="text-form col-12">
                        <label for="text-rw">Other Notes (optinal)</label>
                        <textarea id="text-rw" required></textarea>
                      </div>
                      <div class="ip-form col-6">
                        <label for="name-rw" class="name-rw">Name: <span>*</span></label>
                        <input type="text" id="name-rw" required/>
                      </div>
                      <div class="ip-form col-6">
                        <label for="email-rw" class="email-rw">Email: <span>*</span></label>
                        <input type="email" id="email-rw" required/>
                      </div>
                    </div>
                  </div>
                  <div class="send-rw">
                    <button type="submit">Submit Comment <i class='bx bx-send' ></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sanphamtt  pb--50 pb_sm--30">
        <div class="container">
          <div class="sanphamtt1">
            <span class="sanphamtt2 sanphamtt3"><i class='bx bx-shopping-bag' ></i> Your Recently</span>
            <h2 class="title">Viewed Items</h2>
          </div>

          <div id="fromslist111">
            <div id="sile222" >

              <div class="axil-product product-style-two" *ngFor="let b of danhsach1 | paginate: { itemsPerPage: 4, currentPage: p }">
                <div class="thumbnail">
                  <a routerLink="/chitiet/{{b.id}}" (click)="onactive()" tabindex="0">
                    <img  src="{{b.picture}}" alt="Product Images" class="sal-animate">
                  </a>
                </div>
                <div class="product-content">
                  <div class="inner">

                    <h5 class="title"><a routerLink="/chitiet/{{b.id}}"  (click)="onactive()" tabindex="0">{{b.title}}</a></h5>
                    <div class="product-price-variant">
                      <span class="price old-price">${{b.price}}</span>
                      <span class="price current-price">${{b.discount}}</span>
                    </div>
                  </div>
                  <div class="product-hover-action">
                    <ul class="cart-action">
                      <li class="quickview"><a routerLink="/chitiet/{{b.id}}" (click)="onactive()"><i class="far fa-eye"></i></a></li>
                      <li class="select-option"><a routerLink="/cart" (click)="onactive()" tabindex="0">App to Cart</a></li>
                      <li class="wishlist"><a href="" tabindex="0"><i class="far fa-heart"></i></a></li>
                    </ul>
                  </div>
                </div>

              </div>



            </div>
            <div class="chuyentrang">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>





          <div class="container-newsletter">
            <div class="newsletter-wrapper">
              <img src="assets/images/form_section.jpg" alt=""/>
              <div class="menu-text">
                <span><i class='bx bxs-envelope'></i>Newsletter</span>
                <h2>Get weekly update</h2>
              </div>
              <div class="newsletter-form">
                <form action="#" method="get">
                  <i class='bx bx-mail-send' ></i>
                  <input type="email" required placeholder="CodeOneMin@gmail.com"/>
                  <button type="submit">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>




<button onclick="topFunction()" id="myBtn" title="Go to top"><i class='bx bxs-to-top'></i></button>
</body>
</html>
